canvas{
	position: fixed;
    left: 50%;
    margin-top: 80px;
    margin-left: -240px;
	border-radius:25px;
	box-shadow: 0px 0px 20px 20px #CCCCCC;
}

#central{
	text-align: center;
	background-color: #CCCCCC;
	width: 100%;
}

#stage{
	text-align: center;
	background-color: #CCCCCC;
	width: 100%;
}

.boldie {
	font-size: 80px;
}